

      .thumbnails {
        width: 100%;
        border-radius: 8px;
        border-radius: 8px;
        transition: transform 0.2s ease;  
      }
      .thumbnails:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 12px;
        row-gap: 15px;
      }
      @media (max-width: 750px) {
        .video-grid {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media (min-width: 751px) and (max-width: 999px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      @media (min-width: 1000px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      
      .video-description {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 12px;
      }
      .video-info {
        margin-top: -12px;
      }
  
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;


      }
      .channel-picture {
        vertical-align: top;
    
      }
      .profile-picture {
        width:45px;
        border-radius:50px;
      }
      .thumbnail-row {
        margin-bottom: 10px;
        position: relative;
      }
      .video-author,
      .video-views {
        font-size: 12px;
        color: grey;
      }
      .video-author {
        margin-bottom: 5px;
      }
      .duration {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background-color:black;
        color:white;
        padding: 3px 6px;
        font-size: 11px;
        border-radius: 4px;
        font: roboto,arial;
      }
      